@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #121212;
  --color-text: #fafafa;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.3px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm border-2 border-neutral-300 bg-neutral-600;
}
